{% extends "base.html" %}

{% block page_content %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('.addressing_modes') }}">Addressing Modes</a></li>
        <li class="active">{{ addressing_mode.name }}</li>
    </ol>
    <div class="panel panel-primary">
        <div class="panel-heading">Addressing Modes: {{ addressing_mode.name }}</div>
        <table class="table table-condensed table-striped table-hover">
            <tr>
                <th>ID</th>
                <td>{{ addressing_mode.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ addressing_mode.name }}</td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped table-hover">
            <tr>
                <th>Opcode</th>
                <th>Instruction</th>
            </tr>
            {% for opcode in addressing_mode.opcodes %}
            <tr>
                <td>
                    <a href="{{ url_for('.opcode', id=opcode.id) }}">{{ "%02X" | format(opcode.id) }}</a>
                </td>
                <td>
                    <a href="{{ url_for('.instruction', id=opcode.instruction.id) }}">{{ opcode.instruction.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
