{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">{{ plural | capitalize }}</div>
        <div class="panel-body">
            {% for item in items %}
                <a class="label label-default" href="{{ url_for('.' + singular, id=item.id) }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </div>
    {% if pagination %}
        {{ macros.paginator(pagination, "." + plural) }}
    {% endif %}
{% endblock %}
